<main>
    <article>
        <h1>{{page.title}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam odio quibusdam voluptatum facilis consequatur, dolor culpa voluptas ratione velit cumque? Sapiente dolorum, dignissimos adipisci nobis odit sequi sunt explicabo deserunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro impedit exercitationem architecto nobis ratione quod dolor praesentium quia, molestiae a dicta dolorum! Nostrum nulla similique maiores tempore distinctio explicabo, corrupti velit voluptates. Unde consectetur suscipit veniam repudiandae tenetur. Impedit, facilis.</p>
        <img src="/img/collection/{{page.img}}" alt="jakiś obrazek do kolekcji">
    </article>
</main>