<main>
    <article>
        <h1>{{page.title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptas dicta repellat at consectetur magni corporis exercitationem possimus iste tempora sint odit dignissimos ex esse corrupti eaque molestiae, sed sit!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, facere!</p>
        <img src="/img/news/{{page.img}}" alt="miniaturka jakiegoś obrazka">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A expedita quis repudiandae, quod velit doloremque sint asperiores dolorem esse ea.</p>
        <span>Data publikacji: {{page.date | date: "%d-%m-%Y" }}</span>
    </article>
</main>
